/*body {
	height: 100%;
	width: 100%;
}*/

.navbar {
	background-color: #429BFC;
	color: #FFFFFF;
}

.btn-light {
	background-color: #EDEFF0;
}

.btn-light:hover {
	background-color: #D0D1D3;
}

.btn-primary {
	background-color: #429BFC;
}
.nav-item:link {
	text-decoration: none;
}

.nav-item:hover {
	text-decoration: underline;
	cursor: pointer;
}

.nav-item:active {
	text-decoration: underline;
	color: blue;
}

#github-btn {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

#stream-div {
	padding-top: 20px;
}



